body {
	font-family: 'poppins', sans-serif;
	background: #050d56;
	margin: 0;
	padding: 0;
}
/* left part of dashboard*/
.logo {
	position: absolute;
	top: 1vh;
	left: 1vh;
	width: 8vh;
	height: auto;
}

.left-rectangle {
	position: fixed;
	top: 0;
	left: 0;
	width: 18vw;
	height: 100%;
	background: rgba(8, 78, 212, 0.2);
	display: flex;
	flex-direction: column;
}

.left-rectangle .first-element {
	margin-top: 10vh;
}

.left-rectangle .first-group,
.left-rectangle .second-group {
	color: rgb(175, 175, 175);
	font-size: 1.6vw;
	font-weight: bold;
	position: relative;
	margin-left: 20%;
	flex-shrink: 0;
}

.left-rectangle .first-group img,
.left-rectangle .second-group img {
	width: 3.5vw;
	height: 3.5vw;
	margin-bottom: 3vw;
}

.left-rectangle .first-group .text,
.left-rectangle .second-group .text {
	position: absolute;
	top: 1.5vh;
	margin-left: 1vh;
}

.left-rectangle .line {
	width: 16vw;
	height: 0.1vw;
	margin-bottom: 5vw;
}
.left-rectangle .link:hover::before {
	content: '';
	position: absolute;
	top: 1.7vw;
	left: 5.5vw;
	transform: translate(-50%, -50%);
	border-radius: 10vw;
	background-color: rgba(175, 175, 175, 0.3);
	width: 17vw;
	height: 5vw;
	z-index: -1;
}

.actual-page::before {
	content: '';
	position: absolute;
	top: 2vw;
	left: 5.5vw;
	transform: translate(-50%, -50%);
	border-radius: 10vw;
	background-color: rgba(175, 175, 175, 0.3);
	z-index: -1;
	width: 17vw;
	height: 5vw;
}

/* right part of dashboard */
.right-rectangle {
	position: fixed;
	top: 0;
	right: 0;
	width: 18vw;
	height: 100%;
	background: rgba(8, 78, 212, 0.2);
}

.right-content {
	display: flex;
	justify-content: center;
}

.right-links {
	width: 4vw;
	height: 4vw;
	border-radius: 50%;
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 1vw;
	margin-top: 2vw;
}

.right-links img {
	width: 2.5vw;
	height: 2.5vw;
}

.right-links:hover {
	transform: scale(1.1);
}

.actions {
	color: rgb(255, 255, 255);
	font-size: 1.6vw;
	font-weight: bold;
	margin-top: 2vw;
	margin-left: 1vw;
}

.actions img {
	position: absolute;
	width: 0.8vw;
	height: auto;
	right: 1vw;
	margin-top: 1.5vw;
}

.recent-actions {
	display: flex;
	margin-bottom: 20vw;
}
.upcoming-actions {
	display: flex;
}

/* main part of dashboard */

.main-rectangle {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	justify-content: flex-start;
	justify-content: center;
	margin-top: 8vw;
}

.stats {
	display: flex;
	width: 13vw;
	height: 17vw;
	flex-shrink: 0;
	border-radius: 2vw;
	background: rgba(0, 0, 0, 0.2);
	margin-right: 1vw;
	margin-left: 1vw;
	color: white;
	display: flex;
	flex-direction: column;
}
.stats:hover {
	transform: scale(1.1);
}

.values {
	position: absolute;
	margin-left: 1.5vw;
	margin-top: 9vw;
	font-size: 2.5vw;
	font-weight: bold;
}
.stat-text {
	position: a;
	font-size: small;
	margin-top: 7.5vw;
	font-size: 1.5vw;
	margin-left: 1vw;
}

.stats img {
	width: 5vw;
	height: auto;
	margin-left: 1.5vw;
	margin-top: 2vw;
}
.actual-chart {
	color: white;
	font-size: 2vw;
	font-weight: bold;
	position: absolute;
	top: 25vw;
	left: 21vw;
}
.chart {
	position: absolute;
	top: 30.5vw;
	width: 40vw;
	max-height: 20vw;
}
