body {
	font-family: 'poppins', sans-serif;
	background: #050d56;
	margin: 0;
	padding: 0;
}
/* left part of dashboard*/
.logo {
	position: absolute;
	top: 1vh;
	left: 1vh;
	width: 8vh;
	height: auto;
}

.left-rectangle {
	position: fixed;
	top: 0;
	left: 0;
	width: 20vw;
	height: 100%;
	background: rgba(8, 78, 212, 0.2);
	display: flex;
	flex-direction: column;
}

.left-rectangle .first-element {
	margin-top: 10vh;
}

.left-rectangle .first-group,
.left-rectangle .second-group {
	color: rgb(175, 175, 175);
	font-size: 1.6vw;
	font-weight: bold;
	position: relative;
	margin-left: 20%;
	flex-shrink: 0;
}

.left-rectangle .first-group img,
.left-rectangle .second-group img {
	width: 3.5vw;
	height: 3.5vw;
	margin-bottom: 3vw;
}

.left-rectangle .first-group .text,
.left-rectangle .second-group .text {
	position: absolute;
	top: 1.5vh;
	margin-left: 1vh;
}

.left-rectangle .line {
	width: 80%;
	height: 1px;
	margin-bottom: 5vw;
}
.left-rectangle .link:hover::before {
	content: '';
	position: absolute;
	top: 2vw;
	left: 6vw;
	transform: translate(-50%, -50%);
	border-radius: 10vw;
	background-color: rgba(175, 175, 175, 0.3);
	width: 17vw;
	height: 5vw;
	z-index: -1;
}

.actual-page::before {
	content: '';
	position: absolute;
	top: 2vw;
	left: 6vw;
	transform: translate(-50%, -50%);
	border-radius: 10vw;
	background-color: rgba(175, 175, 175, 0.3);
	z-index: -1;
	width: 17vw;
	height: 5vw;
}

/* right part of dashboard */
.right-rectangle {
	position: fixed;
	top: 0;
	right: 0;
	width: 20vw;
	height: 100%;
	background: rgba(8, 78, 212, 0.2);
}

.right-content {
	display: flex;
	justify-content: center;
}

.right-links {
	width: 4.5vw;
	height: 4.5vw;
	border-radius: 50%;
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 1.5vw;
	margin-top: 2vh;
}

.right-links img {
	width: 3vw;
	height: 3vw;
}

.right-links:hover {
	transform: scale(1.1);
}

.actions {
	color: rgb(255, 255, 255);
	font-size: 1.6vw;
	font-weight: bold;
	margin-top: 2vw;
	margin-left: 1vw;
}

.actions img {
	position: absolute;
	width: 0.8vw;
	height: auto;
	right: 2vw;
	margin-top: 1.5vw;

}

.recent-actions {
	display: flex;
	margin-bottom: 20vw;

}
.upcoming-actions {
	display: flex;
}
